body{
    background-image: url(https://images3.alphacoders.com/880/thumb-1920-88057.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    opacity: 1.5;
}

.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-image: url(https://i.pinimg.com/550x/a8/6b/23/a86b237651fb76f27a36a89c40f26f3a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1.5;
    
    width:290px;
    height:640px;
    border-radius: 25px;
    margin-top: 250px;
    margin-left: 1100px;
    }
    .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50px;
    margin-left: 3px;
    }
    #resultado{
    display:block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    width:245px;
    height: 50px;
    line-height: 50px;
  
    border-radius: 10px;
    color: aliceblue;
    }
    #historial{
    display:block;
    font-size: 25px;
    font-style: oblique;
    opacity: 0.7;
    margin-bottom: 10px;
    width:245px;
    height: 80px;
    line-height: 80px;
   
    border-radius: 10px;
    color: aliceblue;
    }
    #asteristico{
        font-size: 90px;
    }
    button{
        background-color: #000000;
        color: aliceblue;
    }
    .button {
        text-decoration: none;
    }
    #llamar{
        background-color: rgb(38, 202, 106);
    }
   