.calculadora{
    background-image: url(https://i.pinimg.com/236x/d0/3c/22/d03c224feb61b074bc4e092364e9e4cf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1.5;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: -200px;

    width:290px;
    height:640px;
    border-radius: 25px;

    margin-top: 100px;
    margin-left: 100px;
    }
    .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50px;
    margin-left: 3px;
    
    }
    #resultado{
    text-align: center;
    font-size: 25px;
    }
    #resultado p{
        color: #000000;
        font-size: 20px;
    }
    #historial{
    font-size: 25px;
    text-align: center;
    margin: auto;
    } 
    #asteristico{
        font-size: 90px;
    }
    button{
        background-color: #000000;
        color: aliceblue;
        margin-bottom: -30px;
    }
    #llamar{
        background-color: rgb(38, 202, 106);
    }
